<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quizzes.css" />
  <link rel="stylesheet" href="/styles/new-quiz.css" />
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/responsive.css">
  <link rel="stylesheet" href="/styles/attempts.css">
  <link rel="stylesheet" href="/styles/login.css">



  <script type="text/javascript" src="/vendor/jquery-3.4.0.min.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header id="header">
    <% if(!user) { %>
    <ul>
      <li><a href="/">QuizMe</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <% } else { %>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quizzes">
          <%= user.username %>'s Quizzes
        </a></li>
      <li><a href="/attempts">
          <%= user.username %>'s Attempts
        </a></li>
      <!-- TODO: add avatar pic, name, and logout -->
      <li>
        <form action="/logout" method="post"><button href="/logout">Logout</button></form>
      </li>
    </ul>
    <% }%>
  </header>