<%- include('partials/_header') %>
  <script type="text/javascript" src="/scripts/attempts.js"></script>
  <h1>My Attempts</h1>
  <main id="attempts-content">
  </main>

  <%- include('partials/_footer') %>