<%- include('partials/_header') %>
<!-- <script type="text/javascript" src="/scripts/quizzes.js"></script> -->
<h1><%= user.username %>'s Quizzes</h1>
<main id="main-content">
</main>

<%- include('partials/_footer') %>