<%- include('partials/_header') %>
<script type="text/javascript" src="/scripts/quiz-details.js"></script>

<!-- Getting the quiz object -->
<h1></h1>
<main id="main-content">
</main>

<%- include('partials/_footer') %>