<%- include('partials/_header') %>

  <script type="text/javascript" src="/scripts/take.js"></script>
  <form action="/api/attempts" method="post">
    <input type="hidden" name="quiz_id" value="<%= quiz_id %>" />
    <main id="questions-content" class="glide" aria-labelledby="title">
    </main>

    <div class="full-width">
      <button type="submit" class="hidden finish-attempt-button">I'm done!</button>
    </div>
  </form>
  <%- include('partials/_footer') %>
