$yellow-shadow: rgba(238, 255, 1, 0.532);
$blue-tone: rgba(163, 173, 219, 1);
$darker-blue-tone: rgb(86, 103, 180);
$green-tone: rgba(163, 219, 208, 1);
$darker-green-tone: rgb(50, 166, 143);
$button-bg: rgba(0, 255, 255, 0.152);