@mixin basicCard ($width, $marginY: 2em, $padding: 1.5em) {
  background-color: aliceblue;
  width: $width;
  border-radius: 10px;
  margin: $marginY 0;
  padding: $padding;
  text-align: center;
}

@mixin yellowGlow () {
  &:hover {
    text-shadow: 2px 2px 20px $yellow-shadow;
    box-shadow: 0 0 20px 10px $yellow-shadow;
  }
}