@import 'colors';
@import 'elements';

#questions-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-family: 'Pokemon';
    font-size: 3em;
    display: block;
  }

  .score {
    font-family: 'DrMarz';
  }

  .answers {
    font-family: 'DrMarz';
    font-size: 1.5em;
  }

  label {
    font-family: 'DrMarz';
    font-size: 1.5em;
    display: block;
  }

  .prev:hover, .next:hover {
    	cursor: pointer;
  }
}
