// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

#header {
  // position: fixed;
  // top: 0;
  display: block;
  width: 100%;
  padding: 2em 3em;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      padding: 2px;
      cursor: pointer;
      // padding: 2px;
      font-family: 'DrMarz';
      font-weight: 600;
      font-size: 1.5em;
      color: azure;
      text-align: center;

      &:hover {
        text-shadow: 2px 2px 10px rgba(238, 255, 1, 0.532);
      }
    }

    form button {
      &:hover {
        text-shadow: 2px 2px 10px rgba(238, 255, 1, 0.532);
      }
    }
  }
}

footer {
  // position: fixed;
  // bottom: 0;
  font-family: "Pokemon";
  padding-bottom: 1.5em;
  font-size: 2em;
}