/* Add this CSS to style your login form */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  font-family: 'DrMarz';
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  // margin-top: 1em;
  background-color: aqua;
  padding: 0.2em;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px blue;
  font-family: 'DrMarz';
  font-size: 20px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.registration-link {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'DrMarz';

}

.registration-link a {
  color: #007bff;
  text-decoration: none;
}

.registration-link a:hover {
  text-decoration: underline;
}
