@import 'colors';

@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/Pokemon.ttf') format('truetype');
}

@font-face {
  font-family: 'DrMarz';
  src: url('/fonts/DrMarz.otf') format('opentype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
      rgba(163, 208, 219, 1) 0%,
      rgba(163, 176, 219, 1) 20%,
      rgba(163, 173, 219, 1) 34%,
      rgba(163, 219, 208, 1) 59%,
      rgba(163, 208, 219, 1) 74%,
      rgba(163, 208, 219, 1) 100%);
}

#main-content {
  // border: 1px solid red;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#attempts-content {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questions-content {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  display: block;
  justify-content: center;
}

#title-score {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.dot-container {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.glide__track {
  padding: 2em;
}

.question-card {
  background-color: aliceblue;
  // width: 70%;
  border-radius: 10px;
  margin: 2em;
  padding: 2em;
  text-align: center;

  h2 {
    padding-bottom: 0.5em;
    font-size: 2em;
    // margin-top: 1em;
  }

  button {
    // margin-top: 1em;
    background-color: aqua;
    padding: 0.2em;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px blue;
  }
}

.answers {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 2em;
}

.correct {
  color: rgb(22 163 74);
}

.incorrect {
  color: rgb(220 38 38);
}

.score {
  font-size: x-large;
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 1em;
}

.attemptButtons {
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.attemptButton {
  padding: 0.5em;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.finish-attempt-button {
  background-color: aqua;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px blue;
}

.arrow_padding {
  padding: 0.5em;
}

.attempt-card {
  background-color: aliceblue;
  width: 70%;
  border-radius: 10px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;

  h2 {
    padding-bottom: 0.5em;
    font-size: 2em;
    font-family: 'DrMarz';
  }

  button {
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px blue;
  }
}

h1 {
  font-size: 6em;
  font-weight: 800;
  font-family: 'Pokemon';
  padding-bottom: .2em;
  margin-bottom: .2em;
  text-align: center;
  line-height: .7em;
}

.darker-blue-tone {
  color: $darker-blue-tone;
}

.darker-green-tone {
  color: $darker-green-tone;
}
