@import 'colors';
@import 'elements';

.quiz-card {
  @include basicCard;
  font-family: 'DrMarz';

  h2 {
    padding-bottom: 0.5em;
    font-size: 2em;
  }

  p {
    padding-bottom: 0.7em;
    font-size: 1.5em;
  }

  div {
    // display: inline-block;
  }
}

.new-quizz {
  h2 {
    padding: .5em 0;
  }

  &:hover {
    text-shadow: 2px 2px 20px $yellow-shadow;
    box-shadow: 0 0 20px 10px $yellow-shadow;
    cursor: pointer;
  }
}