@import 'colors';

.quiz-card {
  background-color: aliceblue;
  width: 70%;
  border-radius: 10px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;

  h2 {
    padding-bottom: 0.5em;
    font-size: 2em;
    font-family: 'DrMarz';
  }

  button {
    background-color: aqua;
    padding: 0.2em;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px blue;
  }
}

.new-quizz {
  h2 {
    padding: .5em 0;
  }

  &:hover {
    text-shadow: 2px 2px 20px $yellow-shadow;
    box-shadow: 0 0 20px 10px $yellow-shadow;
    cursor: pointer;
  }
}