@import 'colors';

.quiz-card {
  background-color: aliceblue;
  width: 70%;
  border-radius: 10px;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  font-family: 'DrMarz';

  h2 {
    padding-bottom: 0.5em;
    font-size: 2em;
  }

  button {
    background-color: rgba(0, 255, 255, 0.152);
    padding: 0.2em;
    border-radius: 10px;

    &:hover {
      background-color: rgba(0, 255, 255, 0.658);
      box-shadow: 0 0 5px 5px rgb(109, 58, 248);
      text-shadow: 0 0 3px rgb(168, 145, 232);
    }
  }

  p {
    padding-bottom: 0.7em;
    font-size: 1.5em;
  }
}

.new-quizz {
  h2 {
    padding: .5em 0;
  }

  &:hover {
    text-shadow: 2px 2px 20px $yellow-shadow;
    box-shadow: 0 0 20px 10px $yellow-shadow;
    cursor: pointer;
  }
}