@media (min-width: 1024px) {
  .card-grid {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 4rem;
  }

  #attempts-content {
    padding: 2em;
  }

  .quiz-card {
    width: 100%;
  }
}